@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0rem;
}

:root {
  --primary-color: #fca5a5;
  --secondary-color: #991b1b;
  --error-color: #fd0000;
}

#bill-amount {
  outline: none;
  font-size: 1rem;
  padding: 0.8rem;
  width: 50%;
  border: 2px solid var(--secondary-color);
  border-radius: 0.5rem;
  display: flex;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.show #cash-given {
  outline: none;
  font-size: 1rem;
  padding: 0.8rem;
  width: 50%;
  border: 2px solid var(--secondary-color);
  border-radius: 0.5rem;
  display: flex;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container {
  padding-top: 2rem;
  background-color: var(--primary-color);
  border-bottom: 3px solid var(--secondary-color);
  border-left: 3px solid var(--secondary-color);
  border-right: 3px solid var(--secondary-color);
  text-align: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin: auto;
  width: 80%;
  min-width: 500px;
  min-height: 200px;
}

.check-button {
  border: 2px solid var(--secondary-color);
  border-radius: 0.5rem;
  background-color: white;
  margin-right: 1rem;
  padding: 0.8rem;
  width: 15%;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.clear-button {
  margin-left: 1rem;
  border: 2px solid var(--secondary-color);
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.8rem;
  width: 15%;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.next-button {
  border: 2px solid var(--secondary-color);
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.8rem;
  width: 13%;
  margin-bottom: 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

#cash-given {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 49vw;
}

.heading {
  margin: auto;
  color: var(--secondary-color);
}

.description {
  margin: auto;
  text-align: center;
  margin: 1rem;
  color: var(--secondary-color);
}

label {
  margin: auto;
  margin-top: 1rem;
  font-size: 1.3rem;
  color: var(--secondary-color);
}

.change-table {

  height: 20vh;
  width: 85%;
  margin: auto;
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  table-layout: fixed;


}

.table-caption {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--secondary-color);
  font-size: 1.3rem;
}

.change-table th {
  font-size: 1.2rem;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 0.3rem;

}

.change-table td {
  font-size: 1.4rem;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
}

.change-table .notes {
  background-color: white;
}

.error-bill {
  font-style: 'Roboto Mono', monospace;
  color: var(--error-color);
}

.error-cash {
  font-style: 'Roboto Mono', monospace;
  color: var(--error-color);
}

.show {
  margin-top: 1rem;
}